<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta tags="Created, By, /u/Leftw">
    <title>Title</title>
</head>
<body>
    {% for x in data %}
        <div id="item">
            {% if x[2] == "embed" %}
                <h1>{{x[0]}}</h1><br>
                <embed src="{{x[1]}}"></embed>
            {% elif x[2] == "text" %}
                <h1>{{x[0]}} says:</h1><br>
                <div>
                    {{x[1]}}
                </div>
            {% elif x[2] == "link" %}
                <a href="{{x[1]}}">{{x[0]}}</a>
            {% elif x[2] == "youtube" %}
                <iframe width="420" height="315" src="https://www.youtube.com/embed/{{x[1]}}"
                        allowfullscreen="allowfullscreen"
                        mozallowfullscreen="mozallowfullscreen"
                        msallowfullscreen="msallowfullscreen"
                        oallowfullscreen="oallowfullscreen"
                        webkitallowfullscreen="webkitallowfullscreen">
                </iframe>
            {% endif %}
            <br>
        </div><br><br>
    {% endfor %}
</body>
</html>